name: Build Cryptography Wheels

on:
  push:
  workflow_dispatch:
  schedule:
     - cron: '0 10 * * *'

jobs:
  build_wheels:
    defaults:
      run:
        shell: bash
    env:
      OPENSSL_CONFIG_OPTS: no-fips --api=3.0.0
    
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
      
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel
          - macos-26
          #- ubuntu-24.04-arm
          #- ubuntu-24.04
          #- windows-2025
          - windows-11-arm

    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Env setup
        run: |
          case $RUNNER_ARCH in
            X64)
              echo "arch=x86_64" >> $GITHUB_ENV
              ;;
            ARM64)
              echo "arch=arm64" >> $GITHUB_ENV
              ;;
            *)
              echo "arch=${RUNNER_ARCH}" >> $GITHUB_ENV
              ;;
          esac
          export OPENSSL_INSTALL_PATH="${GITHUB_WORKSPACE}/bin/ssl"
          export OPENSSL_DIR="$OPENSSL_INSTALL_PATH"
          export OPENSSL_SOURCE_PATH="${GITHUB_WORKSPACE}/src/openssl"
          if [[ "$RUNNER_OS" == "macOS" ]]; then
            MACOS_MAJOR=$(sw_vers -productVersion | cut -d '.' -f 1)
            export MACOSX_DEPLOYMENT_TARGET="${MACOS_MAJOR}.0"
            echo "We are running on MacOS ${MACOSX_DEPLOYMENT_TARGET}"
            echo "MACOSX_DEPLOYMENT_TARGET=${MACOSX_DEPLOYMENT_TARGET}" >> $GITHUB_ENV
          elif [[ "$RUNNER_OS" == "Windows" ]]; then
            # fix paths
            OPENSSL_DIR=$(cygpath --unix "$OPENSSL_DIR")
            OPENSSL_INSTALL_PATH=$(cygpath --unix "$OPENSSL_INSTALL_PATH")
            OPENSSL_SOURCE_PATH=$(cygpath --unix "$OPENSSL_SOURCE_PATH")
          fi
          export LD_LIBRARY_PATH="${OPENSSL_INSTALL_PATH}/lib:/usr/local/lib"
          echo "OPENSSL_DIR=${OPENSSL_DIR}" >> $GITHUB_ENV
          echo "OPENSSL_INSTALL_PATH=${OPENSSL_INSTALL_PATH}" >> $GITHUB_ENV
          echo "OPENSSL_SOURCE_PATH=${OPENSSL_SOURCE_PATH}" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}" >> $GITHUB_ENV

      - name: Get latest stable OpenSSL source
        run: |
          mkdir -vp "${GITHUB_WORKSPACE}/src"
          cd "${GITHUB_WORKSPACE}/src"
          git clone https://github.com/openssl/openssl.git
          cd "${OPENSSL_SOURCE_PATH}"
          export LATEST_STABLE_TAG=$(git tag --list openssl-* | grep -v alpha | grep -v beta | sort -Vr | head -n1)
          echo "Checking out version ${LATEST_STABLE_TAG}"
          git checkout "${LATEST_STABLE_TAG}"

      - name: Windows Configure VCode
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
        if: runner.os == 'Windows'
        with:
          arch: ${{ runner.arch }}

      - name: Windows NASM Install
        uses: ilammy/setup-nasm@72793074d3c8cdda771dba85f6deafe00623038b # v1.5.2
        if: runner.os == 'Windows'

      - name: Config OpenSSL
        run: |
          cd "${OPENSSL_SOURCE_PATH}"
          #if ([ "$RUNNER_OS" == "Windows" ] && [ "$RUNNER_ARCH" == "ARM64" ]); then
            # https://github.com/openssl/openssl/issues/26239
          #  export CFLAGS=-DNO_INTERLOCKEDOR64
          #fi
          # --libdir=lib is needed so Python can find OpenSSL libraries
          if [[ "${RUNNER_OS}" == "Windows" ]]; then
            PERL="c:\strawberry\perl\bin\perl.exe"
            MAKE=nmake
          else
            PERL=perl
            MAKE=make
          fi
          echo "MAKE=${MAKE}" >> $GITHUB_ENV
          "${PERL}" ./Configure --libdir=lib --prefix="${OPENSSL_INSTALL_PATH}" $OPENSSL_CONFIG_OPTS

      - name: Rename GNU link on Windows
        if: runner.os == 'Windows'
        run: |
          mv -v /usr/bin/link /usr/bin/gnulink

      - name: Make OpenSSL
        run: |
          cd "${OPENSSL_SOURCE_PATH}"
          # TODO: remove this once https://github.com/openssl/openssl/issues/26239 is fixed.
          #if ([ "$RUNNER_OS" == "Windows" ] && [ "$RUNNER_ARCH" == "ARM64" ]); then
          #  export CFLAGS=-DNO_INTERLOCKEDOR64
          #fi
          $MAKE

      - name: Install OpenSSL
        run: |
          cd "${OPENSSL_SOURCE_PATH}"
          # install_sw saves us ages processing man pages :-)
          $MAKE install_sw

      - name: Run OpenSSL
        run: |
          "${OPENSSL_INSTALL_PATH}/bin/openssl" version -a
          file "${OPENSSL_INSTALL_PATH}/bin/openssl"
          echo "Files:"
          ls -al "$OPENSSL_INSTALL_PATH"

      - name: Clone Cryptography
        run: |
          git clone https://github.com/pyca/cryptography.git
          cd cryptography
          latest_tag=$(git describe --tags `git rev-list --tags --max-count=1`)
          git checkout $latest_tag
          echo "Building Cryptography Version: $latest_tag"

      - name: Build wheels
        env:
          CIBW_SKIP: "cp38-* cp39-* cp310-* cp311-* cp312-* cp313-* cp314t-*"
          CIBW_BEFORE_BUILD: "pip install setuptools-rust"
          CIBW_ENVIRONMENT: "OPENSSL_DIR=${{ env.OPENSSL_DIR }}"
        run: |
          cd cryptography
          python -m pip install cibuildwheel
          python -m cibuildwheel --output-dir ../wheelhouse

      - name: Upload Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl
